@use '../../styles/mixins' as *;

.card {
  border-radius: $radius-lg;
  border: 1px solid hsl(var(--border));
  background-color: hsl(var(--card));
  color: hsl(var(--card-foreground));
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.header {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  padding: 1.5rem;
}

.title {
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 600;
  letter-spacing: -0.025em;
}

.description {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: hsl(var(--muted-foreground));
}

.content {
  padding: 1.5rem;
  padding-top: 0;
}

.footer {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  padding-top: 0;
}
