.root {
  border-radius: 9999px;
  padding: 0.125rem 0.5rem;
  font-size: 11px;
  font-weight: 500;
}

.variantDefault {
  background-color: rgb(39 39 42 / 0.8);
  color: rgb(212 212 216);
}

.variantSuccess {
  background-color: rgb(5 150 105 / 0.2);
  color: rgb(110 231 183);
  border: 1px solid rgb(5 150 105 / 0.3);
}

.variantWarning {
  background-color: rgb(217 119 6 / 0.2);
  color: rgb(252 211 77);
  border: 1px solid rgb(217 119 6 / 0.3);
}

.variantDanger {
  background-color: rgb(220 38 38 / 0.2);
  color: rgb(252 165 165);
  border: 1px solid rgb(220 38 38 / 0.3);
}
