.content {
  z-index: 50;
  overflow: hidden;
  border-radius: 0.375rem;
  border: 1px solid rgb(63 63 70);
  background-color: rgb(9 9 11);
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(244 244 245);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
