// Sparkline chart styles

.wrapper {
  display: flex;
  flex-direction: column;
}

.emptyWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.labelRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.125rem;
}

.label {
  font-size: 10px;
  color: rgb(113 113 122); // zinc-500
}

.labelValue {
  font-size: 10px;
  font-weight: 500;
  color: rgb(212 212 216); // zinc-300
}
